
 <h1 class="my-4 text-center text-lg-left i18n ttu" data-i18n="categories" ></h1>
 <p class='i18n' data-i18n="photographerDescription"><p/>
 
 <div class="row text-center text-lg-left">
	 <div class="item well">
		 <p class='i18n' data-i18n='revistaBQ'></p>
		 <img id='bqImg' src='/img/portada-300x221.jpg'/>
	 </div>
 {{#each records as |records|}}	
  	{{#if records.fields.visible}}	 
		<div class="item well">
			<a class='category db link dim  near-white hover-light-gray' data-id='{{records.id}}'>
					<img  class="img-fluid img-thumbnail" src="{{records.fields.img.0.url}}" alt="">			
					<div class="caption  w-100 mt-1 i18n mt1 ttc pt3" data-i18n="{{records.fields.name}}"></div>
			</a>
		</div>		
	{{/if}}	    	 
{{/each}}
</div>
<div>
<h2 class='tc i18n'  data-i18n="formacion"></h2>
        <br/>
        <ul class='list well'>
            <li class='i18n  pa2' data-i18n="f16f"></li>	
            <li class='i18n  pa2' data-i18n="f15f"></li>	
            <li class='i18n  pa2' data-i18n="f14f"></li>	
            <li class='i18n  pa2' data-i18n="f13f"></li>	
            <li class='i18n  pa2' data-i18n="f12f"></li>	
            <li class='i18n  pa2' data-i18n="f11f"></li>	
            <li class='i18n pa2 ' data-i18n="f10f"></li>	
            <li class='i18n pa2' data-i18n="f9f"></li>	
            <li class='i18n pa2' data-i18n="f8f"></li>	
            <li class='i18n pa2' data-i18n="f7f"></li>	
            <li class='i18n pa2' data-i18n="f6f"></li>	
            <li class='i18n pa2' data-i18n="f5f"></li>	
            <li class='i18n pa2' data-i18n="f4f"></li>	
            <li class='i18n pa2' data-i18n="f3f"></li>	
            <li class='i18n pa2' data-i18n="f2f"></li>	
            <li class='i18n pa2 ' data-i18n="f1f"></li>	            
        </ul>

</div>