
 
	<h1 class="my-4 text-center text-lg-left i18n ttu" data-i18n="{{this.fields.name}}"></h1>
	<div class="row text-center text-lg-left">
	
	{{#each  this.fields.proyectos as | project|}}	
		
		<div  data-projectId='{{project}}' class="item well project">
			<a class='db link dim  near-white hover-light-gray'>
					<img  class="img-fluid img-thumbnail" src="{{this.fields.img.0.url}}" alt="">			
					<div class="caption  w-100 mt-1 i18n mt1 ttc pt3" data-i18n="{{records.fields.name}}"></div>
			</a>	
		</div>	 
		
	{{/each}}
	</div>
	

	

 
