
	  <div class="container-fluid">
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle mt0" data-toggle="collapse" data-target="#myNavbar">
			<span class="btn btn-primary btn-sm fa fa-list-alt "></span>
			
		  </button>
		  <a class="navbar-brand i18n ttu h-100" href="./index.html"  data-i18n="brand"></a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">		  
		  <ul class="nav navbar-nav navbar-right">
				  
						
						<li>						
              <a href="./index.html" class=' ttu' >
							<span class='fa  fa-home mr2'></span>
							<span class='i18n' data-i18n="home"  ></span>
						</a>
           </li>			
					<!--<li>
            <a href="./software.html" class='ttu' >
							<span class='fa  fa-desktop  mr2'></span>
							<span class='i18n' data-i18n="software"  ></span>						
						</a>
          </li>-->
         <!-- <li>
                        <a href="./photographer.html" class='ttu' >
							<span class='fa fa-camera-retro  mr2 '></span>
							<span class='i18n' data-i18n="photographer"  ></span>								
						</a>
          </li>-->
                    <li>
                        <a href="./filmmaker.html" class='ttu' >
							<span class='fa fa-film  mr2'></span>
							<span class='i18n' data-i18n="cine"  ></span>						
						</a>
                    </li>
										 	<li>						
              <a target='_blank' href="http://www.facebook.com/bertofotografo" class=' ttu' >
							<span class='fa fa-facebook mr2'></span>
							<span> FACEBOOK</span>
							</a>
						</li>
					  <li>						
              <a target='_blank' href="http://twitter.com/amartinezfer" class=' ttu' >
							<span class='fa fa-twitter mr2'></span>
							<span   > TWITTER</span>
							</a>
						</li>
						<li>						
              <a target='_blank' href="http://www.instagram.com/amartinezfer/" class=' ttu' >
							<span class='fa fa-instagram mr2'></span>
							<span> INSTAGRAM</span>
							</a>
						</li>						
						</li>
							<li>						
              <a id='langChange'  class=' ttu' >
							<span class='fa fa-language'></span>
							<span></span>
							</a>
						</li>
		  </ul>
		</div>
	  </div>
	