
	  <div class="container-fluid">
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle mt0" data-toggle="collapse" data-target="#myNavbar">
			<span class="btn btn-primary btn-sm  "><img src='/img/Menu_50px.png'/> </span>
			
		  </button>
		  <a class="navbar-brand i18n ttu h-100" href="./index.html"  data-i18n="brand"></a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">		  
		  <ul class="nav navbar-nav navbar-right">
				  	
						<li>						
              <a href="./index.html" class=' ttu' >							
							<span class='i18n' data-i18n="home"  ></span>
						</a>
           </li>			
					<!--<li>
            <a href="./software.html" class='ttu' >
							<span class='fa  fa-desktop  mr2'></span>
							<span class='i18n' data-i18n="software"  ></span>						
						</a>
          </li>-->
          <li>
              <a href="./photographer.html" class='ttu' >							
							<span class='i18n' data-i18n="photographer"  ></span>								
						</a>
          </li>
									<li>
                        <a href="./filmmaker.html" class='ttu' >									
									<span class='i18n' data-i18n="cine"  ></span>						
								</a>
						</li>
						<li>
								<a href="./software.html" class='ttu' >								
								<span class='i18n' data-i18n="software"  ></span>						
						</a>
									</li>
								 
									
						</li>						
		  </ul>
		</div>
	  </div>
	